In [120]:
#!pip install pyarrow

In [369]:
# Импорт библиотек
import pandas as pd
import pyarrow.parquet as pq
import os
import numpy as np

In [122]:
# Чтение файла
table = pq.read_table('train_mfti.parquet')

# Запись в датафрейм
data = table.to_pandas()
data

,event_date,event_timestamp,vacancy_id_,cookie_id,user_id,event_type
0,2022-08-01,1659323026,129850,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy
1,2022-08-01,1659377255,108347,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy
2,2022-08-01,1659376695,109069,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy
3,2022-08-01,1659376722,171425,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy
4,2022-08-01,1659374929,252384,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy
...,...,...,...,...,...,...
12292583,2022-08-11,1660246479,162851,0d3c58c6864546c689fa0997de484b30,18124998fd644e80b667a1d84bf63846,preview_click_response
12292584,2022-08-11,1660246106,136818,ef559274a81e4ff4b92aa3e9f6805886,5c71c1f1b7cf492ba05871c400a05250,preview_click_response
12292585,2022-08-11,1660250139,143721,c4453128ae584dca8f2a8d20a7c74263,33c968125459420e89ffbc8cffece317,preview_click_response
12292586,2022-08-11,1660250318,154423,c4453128ae584dca8f2a8d20a7c74263,33c968125459420e89ffbc8cffece317,preview_click_response
12292587,2022-08-11,1660215447,194140,42b24cc1337f43d2bf100ec3c612b510,4ca2f3f932534a3f8e61c2ed489444e9,preview_click_response

In [123]:
data['event_type'].value_counts()

show_vacancy              6198889
preview_click_vacancy     4781280
click_response             384090
click_contacts             277584
preview_click_response     190635
click_favorite             155844
preview_click_favorite     107016
preview_click_contacts     102050
click_phone                 79191
preview_click_phone         16009
Name: event_type, dtype: int64

1) show_vacancy - просмотр вакансии  
2) preview_click_vacancy - клик по карточке вакансии  
3) click_response - отклик со страницы вакансии  
4) preview_click_response - отклик с карточки вакансии  
5) click_favorite - добавление вакансии в избранное  со страницы вакансии  
6) preview_click_favorite - добавление вакансии в избраное с карточки вакансии  
7) click_contacts - клик на контакты со страницы вакансии  
8) preview_click_contacts - клик на контакты из карточки вакансии  
9) click_phone - клик на номер телефона, указанный в вакансии  
10) preview_click_phone - клик на номер телефона из карточки вакансии

In [124]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12292588 entries, 0 to 12292587
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   event_date       object
 1   event_timestamp  int64
 2   vacancy_id_      int64
 3   cookie_id        object
 4   user_id          object
 5   event_type       object
dtypes: int64(2), object(4)
memory usage: 562.7+ MB

In [125]:
# Чтение файла
table_test = pq.read_table('test_private_users_mfti.parquet')

# Запись в датафрейм
data_test = table_test.to_pandas()
data_test

                             cookie_id
0     0018914ba3e54011b28fa715583d3354
1     0035c298d8c64f368ae730a9cca9bb20
2     00956458877448ec9fba87fb97443fdf
3     0099387c921b41e7bae6c99dd8254b60
4     009f65e8ae99413a8da94a491320580a
...                                ...
3081  ffadd195859444d2ade2479b0611c5c1
3082  ffbc08b528c64f22996873fc63872202
3083  ffdeaf3c34544529880aebf17c103f6c
3084  ffefa79a74804ee69e6c131e0d05b948
3085  fff0c04c0cd54c67bb5fd79ae7b1145b

[3086 rows x 1 columns]

In [126]:
# Словарь для кодирования
encode = {
    'show_vacancy': 0.5,
    'preview_click_vacancy': 0.5,
    'click_response': 1,
    'preview_click_response': 1,
    'click_favorite': 0.5,
    'preview_click_favorite': 0.5,
    'click_contacts': 1,
    'preview_click_contacts': 1,
    'click_phone': 1,
    'preview_click_phone': 1,
}

In [127]:
# Кодировка типов событий
data['event_type'] = data['event_type'].replace(encode)
data

,event_date,event_timestamp,vacancy_id_,cookie_id,user_id,event_type
0,2022-08-01,1659323026,129850,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,0.5
1,2022-08-01,1659377255,108347,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,0.5
2,2022-08-01,1659376695,109069,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,0.5
3,2022-08-01,1659376722,171425,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,0.5
4,2022-08-01,1659374929,252384,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,0.5
...,...,...,...,...,...,...
12292583,2022-08-11,1660246479,162851,0d3c58c6864546c689fa0997de484b30,18124998fd644e80b667a1d84bf63846,1.0
12292584,2022-08-11,1660246106,136818,ef559274a81e4ff4b92aa3e9f6805886,5c71c1f1b7cf492ba05871c400a05250,1.0
12292585,2022-08-11,1660250139,143721,c4453128ae584dca8f2a8d20a7c74263,33c968125459420e89ffbc8cffece317,1.0
12292586,2022-08-11,1660250318,154423,c4453128ae584dca8f2a8d20a7c74263,33c968125459420e89ffbc8cffece317,1.0
12292587,2022-08-11,1660215447,194140,42b24cc1337f43d2bf100ec3c612b510,4ca2f3f932534a3f8e61c2ed489444e9,1.0

In [128]:
# event_timestamp
data['datetime'] = pd.to_datetime(data['event_timestamp'], unit='s')
data

,event_date,event_timestamp,vacancy_id_,cookie_id,user_id,event_type,datetime
0,2022-08-01,1659323026,129850,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,0.5,2022-08-01 03:03:46
1,2022-08-01,1659377255,108347,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,0.5,2022-08-01 18:07:35
2,2022-08-01,1659376695,109069,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,0.5,2022-08-01 17:58:15
3,2022-08-01,1659376722,171425,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,0.5,2022-08-01 17:58:42
4,2022-08-01,1659374929,252384,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,0.5,2022-08-01 17:28:49
...,...,...,...,...,...,...,...
12292583,2022-08-11,1660246479,162851,0d3c58c6864546c689fa0997de484b30,18124998fd644e80b667a1d84bf63846,1.0,2022-08-11 19:34:39
12292584,2022-08-11,1660246106,136818,ef559274a81e4ff4b92aa3e9f6805886,5c71c1f1b7cf492ba05871c400a05250,1.0,2022-08-11 19:28:26
12292585,2022-08-11,1660250139,143721,c4453128ae584dca8f2a8d20a7c74263,33c968125459420e89ffbc8cffece317,1.0,2022-08-11 20:35:39
12292586,2022-08-11,1660250318,154423,c4453128ae584dca8f2a8d20a7c74263,33c968125459420e89ffbc8cffece317,1.0,2022-08-11 20:38:38
12292587,2022-08-11,1660215447,194140,42b24cc1337f43d2bf100ec3c612b510,4ca2f3f932534a3f8e61c2ed489444e9,1.0,2022-08-11 10:57:27

In [130]:
data['event_date'].min()

'2022-08-01'

In [131]:
data['event_date'].max()

'2022-10-01'

In [132]:
data['event_date'].nunique()

62

**Выделение признаков item_features (вакансии)**

In [215]:
# Группировка данных по дате и вакансии, а затем по cookie_id, и выбор только записей с event_type = 1
grouped_data = data[data['event_type'] == 1].groupby(['event_date', 'vacancy_id_', 'cookie_id'])
grouped_data

In [227]:
grouped_data.nunique()['event_type']

event_date  vacancy_id_  cookie_id
2022-08-02  100001       64c28fc4fd6b4bb0b288e504fa48bbc3    1
            100023       b7dd2f20fdd6472ab62f8d86a739cd5d    1
                         c11727faa0594966b32dc47a9e734c21    1
                         d8c3b4cf6c4641c1b6adf26a316815d7    1
            100029       20ebe942faac4db492d481b0130f3f85    1
                                                            ..
2022-09-30  260154       fa21b71a52ec41178fefee271d90abf5    1
                         fb4abe4999a64997a554b31614f97a80    1
                         ffe1cdc0b75446af83cb16fd8a22fc8e    1
            260159       6b3281f474314f96b75a7d1a06f09eed    1
                         7ae337e2f88d44f28a8491bb4d553a7a    1
Name: event_type, Length: 788115, dtype: int64

In [229]:
# Подсчет количества уникальных cookie_id, выполнивших событие event_type = 1
conversion = grouped_data.nunique()['event_type'].groupby(['event_date', 'vacancy_id_']).sum()
conversion.reset_index()

        event_date  vacancy_id_  event_type
0       2022-08-02       100001           1
1       2022-08-02       100023           3
2       2022-08-02       100029           1
3       2022-08-02       100067           1
4       2022-08-02       100070           1
...            ...          ...         ...
476902  2022-09-30       260072           1
476903  2022-09-30       260077           1
476904  2022-09-30       260093           2
476905  2022-09-30       260154          34
476906  2022-09-30       260159           2

[476907 rows x 3 columns]

In [231]:
# Подсчет общего количества уникальных cookie_id для каждой вакансии
unique_cookies = data.groupby(['event_date', 'vacancy_id_'])['cookie_id'].nunique()
unique_cookies.reset_index()

         event_date  vacancy_id_  cookie_id
0        2022-08-01       100004          2
1        2022-08-01       100006          4
2        2022-08-01       100015          1
3        2022-08-01       100018          1
4        2022-08-01       100021          1
...             ...          ...        ...
1722026  2022-10-01       260143          1
1722027  2022-10-01       260150          1
1722028  2022-10-01       260154        259
1722029  2022-10-01       260157          2
1722030  2022-10-01       260167          1

[1722031 rows x 3 columns]

In [292]:
daily_conversion = pd.merge(unique_cookies.reset_index(), conversion.reset_index(), \
                            on=['event_date', 'vacancy_id_'], how='outer')
daily_conversion

         event_date  vacancy_id_  cookie_id  event_type
0        2022-08-01       100004          2         NaN
1        2022-08-01       100006          4         NaN
2        2022-08-01       100015          1         NaN
3        2022-08-01       100018          1         NaN
4        2022-08-01       100021          1         NaN
...             ...          ...        ...         ...
1722026  2022-10-01       260143          1         NaN
1722027  2022-10-01       260150          1         NaN
1722028  2022-10-01       260154        259         NaN
1722029  2022-10-01       260157          2         NaN
1722030  2022-10-01       260167          1         NaN

[1722031 rows x 4 columns]

In [293]:
daily_conversion['event_type'].fillna(0, inplace=True)

In [294]:
# конверсия ежедневная
daily_conversion['day_conv'] = daily_conversion['event_type'] / daily_conversion['cookie_id']
daily_conversion

         event_date  vacancy_id_  cookie_id  event_type  day_conv
0        2022-08-01       100004          2         0.0       0.0
1        2022-08-01       100006          4         0.0       0.0
2        2022-08-01       100015          1         0.0       0.0
3        2022-08-01       100018          1         0.0       0.0
4        2022-08-01       100021          1         0.0       0.0
...             ...          ...        ...         ...       ...
1722026  2022-10-01       260143          1         0.0       0.0
1722027  2022-10-01       260150          1         0.0       0.0
1722028  2022-10-01       260154        259         0.0       0.0
1722029  2022-10-01       260157          2         0.0       0.0
1722030  2022-10-01       260167          1         0.0       0.0

[1722031 rows x 5 columns]

In [295]:
daily_conversion[(daily_conversion['day_conv'] > 0) &(daily_conversion['day_conv'] < 1)]

         event_date  vacancy_id_  cookie_id  event_type  day_conv
26071    2022-08-02       100001          2         1.0  0.500000
26077    2022-08-02       100023          4         3.0  0.750000
26078    2022-08-02       100029          6         1.0  0.166667
26088    2022-08-02       100067          3         1.0  0.333333
26089    2022-08-02       100070         11         1.0  0.090909
...             ...          ...        ...         ...       ...
1702085  2022-09-30       260014          2         1.0  0.500000
1702088  2022-09-30       260055          6         1.0  0.166667
1702089  2022-09-30       260063          3         2.0  0.666667
1702096  2022-09-30       260093          4         2.0  0.500000
1702103  2022-09-30       260154        318        34.0  0.106918

[314309 rows x 5 columns]

In [296]:
# Первое взаимодействие и крайнее взаимодействие с вакансиями.
group_vac = daily_conversion.groupby('vacancy_id_').agg({'event_date': ['last', 'first']}).reset_index()
group_vac

       vacancy_id_  event_date
                          last       first
0           100001  2022-09-29  2022-08-02
1           100002  2022-10-01  2022-08-04
2           100003  2022-08-20  2022-08-04
3           100004  2022-08-14  2022-08-01
4           100005  2022-09-23  2022-09-12
...            ...         ...         ...
160162      260163  2022-09-24  2022-08-03
160163      260164  2022-08-02  2022-08-02
160164      260165  2022-09-24  2022-08-02
160165      260166  2022-08-19  2022-08-04
160166      260167  2022-10-01  2022-08-03

[160167 rows x 3 columns]

In [297]:
group_vac.iloc[:, 1:3] = group_vac.iloc[:, 1:3].astype('datetime64')

In [298]:
group_vac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160167 entries, 0 to 160166
Data columns (total 3 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   (vacancy_id_, )      160167 non-null  int64
 1   (event_date, last)   160167 non-null  datetime64[ns]
 2   (event_date, first)  160167 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1)
memory usage: 3.7 MB

In [299]:
data[data['vacancy_id_'] == 260164]

,event_date,event_timestamp,vacancy_id_,cookie_id,user_id,event_type,datetime
12087639,2022-08-02,1659398135,260164,9c50bca324dd4401bec14c601b7a5102,7be7c397e5574ad08bda95aaa234441e,1.0,2022-08-01 23:55:35

In [300]:
# Расчет разницы в днях между взаимодействиями по вакансиям
group_vac[('diff_days', '')] = (group_vac[('event_date', 'last')] - group_vac[('event_date', 'first')]).dt.days

In [301]:
group_vac

       vacancy_id_ event_date            diff_days
                         last      first
0           100001 2022-09-29 2022-08-02        58
1           100002 2022-10-01 2022-08-04        58
2           100003 2022-08-20 2022-08-04        16
3           100004 2022-08-14 2022-08-01        13
4           100005 2022-09-23 2022-09-12        11
...            ...        ...        ...       ...
160162      260163 2022-09-24 2022-08-03        52
160163      260164 2022-08-02 2022-08-02         0
160164      260165 2022-09-24 2022-08-02        53
160165      260166 2022-08-19 2022-08-04        15
160166      260167 2022-10-01 2022-08-03        59

[160167 rows x 4 columns]

In [306]:
group_vac[group_vac[('diff_days', '')] == 1]

       vacancy_id_ event_date            diff_days
                         last      first
13          100014 2022-08-25 2022-08-25         1
18          100019 2022-08-14 2022-08-14         1
25          100026 2022-08-22 2022-08-22         1
34          100035 2022-09-06 2022-09-06         1
40          100041 2022-09-20 2022-09-20         1
...            ...        ...        ...       ...
160137      260138 2022-09-27 2022-09-27         1
160145      260146 2022-08-07 2022-08-06         1
160151      260152 2022-09-20 2022-09-20         1
160152      260153 2022-09-20 2022-09-20         1
160163      260164 2022-08-02 2022-08-02         1

[23681 rows x 4 columns]

In [304]:
group_vac[('diff_days', '')] = group_vac[('diff_days', '')].replace({0: 1})

In [308]:
# Суммирование конверсий.
conv_day = daily_conversion.groupby('vacancy_id_')['day_conv'].sum().reset_index()
conv_day

        vacancy_id_  day_conv
0            100001  3.500000
1            100002  7.753788
2            100003  2.000000
3            100004  0.000000
4            100005  1.000000
...             ...       ...
160162       260163  0.000000
160163       260164  1.000000
160164       260165  3.750000
160165       260166  1.000000
160166       260167  3.166667

[160167 rows x 2 columns]

In [314]:
conv_day_ = pd.merge(conv_day, group_vac, on='vacancy_id_', how='outer')

F:\Programs\Anaconda\lib\site-packages\pandas\core\reshape\merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)
F:\Programs\Anaconda\lib\site-packages\pandas\core\generic.py:3887: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [315]:
conv_day_

,vacancy_id_,day_conv,"(event_date, last)","(event_date, first)","(diff_days, )"
0,100001,3.500000,2022-09-29,2022-08-02,58
1,100002,7.753788,2022-10-01,2022-08-04,58
2,100003,2.000000,2022-08-20,2022-08-04,16
3,100004,0.000000,2022-08-14,2022-08-01,13
4,100005,1.000000,2022-09-23,2022-09-12,11
...,...,...,...,...,...
160162,260163,0.000000,2022-09-24,2022-08-03,52
160163,260164,1.000000,2022-08-02,2022-08-02,1
160164,260165,3.750000,2022-09-24,2022-08-02,53
160165,260166,1.000000,2022-08-19,2022-08-04,15
160166,260167,3.166667,2022-10-01,2022-08-03,59

In [350]:
# Нахождение средней дневной конверсии
conv_day_['avg_day_conv'] = round(conv_day_['day_conv'] / conv_day_[('diff_days', '')], 2)

In [351]:
conv_day_[['vacancy_id_', 'avg_day_conv']]

        vacancy_id_  avg_day_conv
0            100001          0.06
1            100002          0.13
2            100003          0.12
3            100004          0.00
4            100005          0.09
...             ...           ...
160162       260163          0.00
160163       260164          1.00
160164       260165          0.07
160165       260166          0.07
160166       260167          0.05

[160167 rows x 2 columns]

In [355]:
conv_day_['avg_day_conv'].value_counts()

0.00    39266
1.00    14347
0.04     9087
0.02     7810
0.05     7736
        ...
1.07        1
1.13        1
0.87        1
1.15        1
0.82        1
Name: avg_day_conv, Length: 116, dtype: int64

In [356]:
pd.cut(conv_day_['avg_day_conv'], 5).value_counts()

(-0.002, 0.4]    142335
(0.8, 1.2]        14481
(0.4, 0.8]         2605
(1.6, 2.0]          617
(1.2, 1.6]          129
Name: avg_day_conv, dtype: int64

In [357]:
# Разбивка на 5 категорий среднедневных конверсий.
conv_day_['cat_conv'] = pd.cut(conv_day_['avg_day_conv'], 5, labels = ['c1', 'c2', 'c3', 'c4', 'c5'])

In [358]:
conv_day_

,vacancy_id_,day_conv,"(event_date, last)","(event_date, first)","(diff_days, )",avg_day_conv,cat_conv
0,100001,3.500000,2022-09-29,2022-08-02,58,0.06,c1
1,100002,7.753788,2022-10-01,2022-08-04,58,0.13,c1
2,100003,2.000000,2022-08-20,2022-08-04,16,0.12,c1
3,100004,0.000000,2022-08-14,2022-08-01,13,0.00,c1
4,100005,1.000000,2022-09-23,2022-09-12,11,0.09,c1
...,...,...,...,...,...,...,...
160162,260163,0.000000,2022-09-24,2022-08-03,52,0.00,c1
160163,260164,1.000000,2022-08-02,2022-08-02,1,1.00,c3
160164,260165,3.750000,2022-09-24,2022-08-02,53,0.07,c1
160165,260166,1.000000,2022-08-19,2022-08-04,15,0.07,c1
160166,260167,3.166667,2022-10-01,2022-08-03,59,0.05,c1

In [352]:
conv_day_[conv_day_['avg_day_conv'] == 1]

,vacancy_id_,day_conv,"(event_date, last)","(event_date, first)","(diff_days, )",avg_day_conv,cat_conv
13,100014,1.0,2022-08-25,2022-08-25,1,1.0,c3
104,100105,1.0,2022-08-25,2022-08-25,1,1.0,c3
120,100121,1.0,2022-09-28,2022-09-28,1,1.0,c3
121,100122,1.0,2022-09-29,2022-09-28,1,1.0,c3
144,100145,1.0,2022-08-04,2022-08-04,1,1.0,c3
...,...,...,...,...,...,...,...
160103,260104,1.0,2022-08-09,2022-08-09,1,1.0,c3
160116,260117,1.0,2022-08-22,2022-08-22,1,1.0,c3
160137,260138,1.0,2022-09-27,2022-09-27,1,1.0,c3
160158,260159,2.0,2022-09-30,2022-09-28,2,1.0,c3
160163,260164,1.0,2022-08-02,2022-08-02,1,1.0,c3

In [359]:
# Запись признака item_feature категории конверсии в csv
conv_day_[['vacancy_id_', 'cat_conv']].to_csv(os.path.join('item_feature_conv.csv'), index=False)

In [378]:
# Запись признака item_feature конверсии в csv
conv_day_[['vacancy_id_', 'avg_day_conv']].to_csv(os.path.join('item_feature_avg_conv.csv'), index=False)

In [375]:
from datetime import datetime
end_date = datetime(2022, 10, 1)
end_date-datetime(2022, 9, 29)

datetime.timedelta(days=2)

In [373]:
# Расчет признака item_feature "коэффициент затухания".
conv_day_['time_decay'] = conv_day_[('event_date', 'last')].apply(lambda x: np.exp(-(end_date - x).days))

In [376]:
conv_day_['time_decay'].value_counts()

1.000000e+00    19925
3.678794e-01    12837
1.353353e-01     9461
4.978707e-02     7443
1.831564e-02     5050
                ...
1.425164e-21      772
5.242886e-22      710
6.305117e-16      293
3.221340e-27      107
1.713908e-15       76
Name: time_decay, Length: 62, dtype: int64

In [377]:
# Запись признака item_feature "коэффициент затухания" в csv
conv_day_[['vacancy_id_', 'time_decay']].to_csv(os.path.join('item_feature_decay.csv'), index=False)

**Разделение train на train/test ~80/20**

In [133]:
data_copy = data.copy()

In [134]:
data_copy.drop(['event_timestamp', 'datetime', 'event_date'], axis=1, inplace=True)

In [135]:
data_copy

,vacancy_id_,cookie_id,user_id,event_type
0,129850,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,0.5
1,108347,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,0.5
2,109069,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,0.5
3,171425,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,0.5
4,252384,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,0.5
...,...,...,...,...
12292583,162851,0d3c58c6864546c689fa0997de484b30,18124998fd644e80b667a1d84bf63846,1.0
12292584,136818,ef559274a81e4ff4b92aa3e9f6805886,5c71c1f1b7cf492ba05871c400a05250,1.0
12292585,143721,c4453128ae584dca8f2a8d20a7c74263,33c968125459420e89ffbc8cffece317,1.0
12292586,154423,c4453128ae584dca8f2a8d20a7c74263,33c968125459420e89ffbc8cffece317,1.0
12292587,194140,42b24cc1337f43d2bf100ec3c612b510,4ca2f3f932534a3f8e61c2ed489444e9,1.0

In [136]:
data_copy['user_id'].value_counts()

4185734babb340cb84dcfa8241a9766d    4898
bc7fcaa0192b424a9dc5f4f590562d27    3343
27912d1089f0400fb89fe9e22e33010d    3341
c531d5f027be41829a3510df40a5957e    3312
d370749682b844a6b3c15f2244ffee0f    2795
                                    ...
59c3a77c38a14dbba6b9a6b3de3b7e4f       1
bf1def14847e463988293b518e286670       1
45ba44bed189470a8a004dc864f92f49       1
2f49962add0e4a1cb8da7281ddf2a594       1
ccee2a67cc6643c2b5782bc0392c6372       1
Name: user_id, Length: 209335, dtype: int64

In [137]:
data_copy['cookie_id'].value_counts()

924398d361a0454c8c30845c2b4c5747    4898
7d8cc5a0fef44378a2d90a237cda288e    3343
5934d5b8a0b348829d8efabe69c733eb    3315
b7dd2f20fdd6472ab62f8d86a739cd5d    3312
353b56c4fa6447d0ba0f08b42d86e51f    2795
                                    ...
81d97e8774f8478dba611b2e2e4be1eb       5
62a7efb175984903910093707840d3e3       5
804496cef5a344ec8ae594761912d168       5
109e886f93e946f4b8aec003a24558b5       5
e210fd61e45b48c894a740973fd82d0f       5
Name: cookie_id, Length: 330180, dtype: int64

In [138]:
data_copy['vacancy_id_'].value_counts()

260154    59105
198114    50187
203404    45634
202608    41620
116823    40023
          ...
239310        1
206558        1
132858        1
228047        1
151938        1
Name: vacancy_id_, Length: 160167, dtype: int64

In [139]:
data_copy['user_id'].isna().sum()

3581411

In [140]:
data_copy['cookie_id'].isna().sum()

0

In [141]:
data_copy['vacancy_id_'].isna().sum()

0

In [142]:
data_copy['user_id'].fillna(0, inplace=True)

In [143]:
data_copy['user_id'].value_counts()

0                                   3581411
4185734babb340cb84dcfa8241a9766d       4898
bc7fcaa0192b424a9dc5f4f590562d27       3343
27912d1089f0400fb89fe9e22e33010d       3341
c531d5f027be41829a3510df40a5957e       3312
                                     ...
652afdef92484183bef838ed82fba39f          1
46e9b2fea9924a53aa40fc28e7f8fd82          1
b41326c90901464dba8deb7eb5bed977          1
49bd7d36f58c44389e491e2c8be439e4          1
ccbad0fff2064a3f84de253570db03a9          1
Name: user_id, Length: 209336, dtype: int64

In [162]:
# Группировка по cookie, вакансиям, max взаимодействие.
data_copy_train = data_copy.groupby(['cookie_id', 'vacancy_id_']).agg({'event_type': 'max'}).reset_index()
data_copy_train

                                cookie_id  vacancy_id_  event_type
0        0000c4548c3944c08972bbdc1fa4eb85       137659         0.5
1        0000c4548c3944c08972bbdc1fa4eb85       153975         0.5
2        0000c4548c3944c08972bbdc1fa4eb85       174953         0.5
3        0000c4548c3944c08972bbdc1fa4eb85       176171         0.5
4        0000c4548c3944c08972bbdc1fa4eb85       182445         0.5
...                                   ...          ...         ...
4678580  ffffdb17f45b4032b386d691d52e6c00       107125         1.0
4678581  ffffdb17f45b4032b386d691d52e6c00       107893         1.0
4678582  ffffdb17f45b4032b386d691d52e6c00       150843         1.0
4678583  ffffdb17f45b4032b386d691d52e6c00       160164         1.0
4678584  ffffdb17f45b4032b386d691d52e6c00       185412         1.0

[4678585 rows x 3 columns]

In [167]:
from sklearn.model_selection import train_test_split

In [178]:
train, test = train_test_split(data_copy_train, test_size=0.3, random_state=42)
train

                                cookie_id  vacancy_id_  event_type
3148343  abaec81fdf5e41b98ba70562cf1ee12b       102993         0.5
2495773  87b9efa7623340c2bc1c30d93a4c5663       158179         0.5
4295481  eac6f3b6a4bb4c1396d127cb48202bea       103209         0.5
4478569  f4fd2cbde7bb47f3bf9156480b81f05a       112356         0.5
4643253  fe17b1e0df57474d91b363d609e46d9b       113707         0.5
...                                   ...          ...         ...
1136074  3ddfc43a55f043689fa2dfb6e72ef959       189122         0.5
1570006  55ac188139f942b6a3f81079e3ba8343       223343         1.0
2234489  79cac9940d8b4cec83f2377d533471a0       123518         0.5
4304572  eb4a7856b73d4bd3875b694df4b123de       190087         0.5
1692743  5c5d795d24874c838bf94877cab8c2cf       126548         1.0

[3275009 rows x 3 columns]

In [180]:
test

                                cookie_id  vacancy_id_  event_type
1927408  69495070cb644e79b6fe2343c08f16d7       174682         0.5
3767110  cdbaf308bd234abfbe2e5ccd6daca8db       107882         0.5
3410934  ba3677792be945cd8ffa62569370c967       195702         0.5
350960   1316c4f2aa2c4db19a929c42e2b2a063       247434         0.5
3769749  cddf0704987b457792dffcbce8ac7f59       106390         0.5
...                                   ...          ...         ...
2381889  8199b48c31454b56b2075c09938069cf       240917         0.5
2997870  a3461bc44eb44c46b0e2bfb3f6279484       250765         0.5
1490236  513c75bcbdd94bedbd65ec10152d35e4       105890         0.5
972131   34e9de41e35b441a848e35bbc5438e92       246583         0.5
253568   0dddaf16d5024998b55b4ca46be9d8a9       139817         0.5

[1403576 rows x 3 columns]

In [181]:
# Выделяем уникальные cookie в разделенном тесте посредством train_test_split, у которых более 4 вакансий с взаимодействиями.
nv_test = test.groupby('cookie_id').agg({'vacancy_id_':'nunique'}).reset_index()
set_test_cookie = nv_test[nv_test['vacancy_id_'] >= 5]
test_cookie = set(set_test_cookie['cookie_id'])
test_cookie

{'3afb8fab75a04f28a8d2a02588abd7c5',
 '39dcfbbba95c49629a874f5306f4c609',
 '6689a2e16cb046a2957fd3e1c2e065fa',
 '2b6b395a3c914cf187cac9a8b8da120e',
 '4478f730be64433984d3c1c876493655',
 'a37f4196fae74fef89420c08dcd719b6',
 '2a39cae1842348209aa9dd78fe824127',
 'ec4062deeef64159b2d16ac5a448d886',
 '19ffe4e60fb54f90b18d489641530a87',
 'c3bd537d47434b91bf012b0c0f9ebb4c',
 '335d289700eb478d85ac252b38992c05',
 '3cf9f380197d4d1a94bbb284cbec5273',
 'a653ba2813a2483a92d1ef9ce83645ea',
 'e2f9aacbf5284801b444c3202124cf3a',
 'c4d18034ae90487ea9d405c13c7754cb',
 '32584ccc9aef414596a47ff57a73434f',
 '37e3d0efadf74c38885fbadf0f16987f',
 '85686e3a849d4134834903ec4ad18c9f',
 '27e395e59cbd4f7b80f27342b85a718c',
 'a884224f4e9447e8b0f5744ce6fd9cd8',
 '3192d8fcbefd450e94ccbb396655db0f',
 '862cd2dc24864f648f1795508962ba57',
 'ccc3cc1d4de04d07b3b52f51375bb9c5',
 'df51d8ad962649b9945ae2be38c87d02',
 '46c870484936495eac1d8e4292045277',
 '3f3d395f69654ceba91c65bfed77fffa',
 '3758d58b841746e0bb6cb13ca3b80e23',
 'a470577ddc8b4702be7cbbdec3e8b614',
 'd145f6c275c04aaa82315ecac64a3332',
 '67e92c08e29242e0b19f5f907a695d6c',
 'f3086c93abf14204b40ad182c501bce2',
 '171c31e414154cf8b133d436d92c552c',
 'c22a2f0a2b70455ab3e51442911c19be',
 '7115c9bbc72d4315a8238b5cdd57671a',
 '1362b81850c74aed9f6ea6ded201495e',
 'a2d18ac9575d4e26b3a16151f8da1f60',
 '49cb5a5eafa54f1a9eb0a90bc329508c',
 '9e52a3975e514cf3b3ebc0521849ffec',
 '706411c2213142a99b4c5d4b7060cfe5',
 '62e85881b50b4fbcb0acfbfd8f7767ed',
 'a2c7d95f86664a68b3c8f1a708524247',
 'c547bafb00b94fdfb07fe1109f4121fc',
 'a0378935664b4f64b9fe43a604d00369',
 'ce342b3f73a14329a2c4f8f34185d079',
 '09617b5231c64c81a86854d21aa149c6',
 '45c9963f097f4b00992712ce3f9412fb',
 '73757d38d3174a5d99c0ef4903325d2d',
 'a69a470ac7b14fd6a313f0296a5c0555',
 'a48e307f79ea46f08d5dd9e0c0fae7c2',
 '2dd10adf65e3467a9748144c272a1765',
 '5da9c8fbf7be4a4283d1e5e6fa90f5b5',
 '7801e7bc4fe2457ca306a23b7732fa7e',
 '6fe2a2c301b1404cb8ca175c9ecc1cf8',
 '29bc21faf6c145c58f6c27d65aa41d9c',
 '78b2eef80a1541dda5e9d0a1aec3ffc0',
 '7dc03d3a493f46c883e9805f70ba9006',
 '175b95a5d210410890ca53724fb7226c',
 '98aa46cc515348d78ac4dd1a7f247b78',
 '6fabe93311a54b979e1d01b2958f880e',
 '16813ad044a14fdf82bee64b2eb8535a',
 'cb30efb6458047d1b3b6eb90e0f61cdc',
 'b995291ebcdd431b8a71118437fcb510',
 'a7deedb5686b46c5b77f4b6ccb6ab959',
 'cc8d7e10ac76432cbcc3e964e857fc43',
 'e1fad51bed504f1c9af32429546a3da5',
 'b8e7c6d7272d48a0914a629e8e00d8c2',
 'f898d8509faa421ca3d38ec0f4cb8eb8',
 '06d6ed455e02496dba7ac3549284e255',
 '3804551d7e8d41e4bf3fc6b9d8294116',
 '519737435c7a46f2a80008097d7cbd98',
 'd4d3687591084d78af50d5ac96fb83d7',
 '5db76afd8f794aa480b0c002a42d7fa1',
 '8d27e1ab80b84334a91c628fce756756',
 '0eca9f26bddf4030894c365664f6a1b6',
 '3b5987363d394516b1f127dffa852c6e',
 '83bd0d5701a246beac6d3175d10ae6b7',
 'ac29324d8a1142cd96f666074cddc0ed',
 'fee4873b23c045dfbc37a959fe8059ef',
 '8bf171b0333248ccab2cb4c04a218e5a',
 '7cab4ef4f0874d399259328afc6a408a',
 'e5b3ecca6f504ae38b6b6766dbe0d690',
 '66b2c5ebdead4c0f9cc12c752d000d78',
 '658cd9155d16430182c9397849508d4b',
 '84b7077cbd124a5d82c6f34498594aab',
 'a9e280d055394c069cb8330aa7d9d69e',
 'bbfb3fc1cd8f4f93954f734a83063d11',
 '60bc7e2e71fe4f0881920c560126c762',
 'fcc2e6c8b363426fba6113bb1b54b602',
 '3f71604cbf5f460dbded646ab9d75673',
 '96d28654321d45bebb11c24f33cc5b08',
 'ad32bb4f3c7c4fa6ac267d22a1a14da9',
 'aeebbfdba9664023be2e4b129fc187f2',
 'c982fc6af414485f9e541bdb06f0df98',
 'c1fc5eecb0e44e6ba3376abf36dab81a',
 '171f6ff5f9df4ab09a37828dd48166a7',
 '3630b555492d46eab4f781c8d28d39ea',
 '5a244645f50a47ec8424b3f6b1d4edeb',
 'cc5314605b8d47c48186ef36495dd522',
 '1410d567f5c2446bbd919849b18adbe7',
 '21ffb27fc8854fd688bf8a205fe3edc3',
 'ae2abda1adad401d92682b13cfc04764',
 '3c28ae6c287b4a7ca1edd1abbbb866c3',
 '4ce70e2a36c84ed1963957cb2336c380',
 '16754b3fb9f242d8a0be58affaea49b8',
 '71b5a85ea6b7485094f55c13ec4be5cf',
 'ab9412be5eeb4f02910206352611c193',
 '75f4af5ffb524e778492714803223073',
 '77ce2821857e44f2926c77eb0834e185',
 '8800624d81c84e8dacb1ed22bdacbec3',
 '5535a42175a340e2b397e45bbaebbac1',
 '30e9c00431bf43fab132e6bb385ea52c',
 'f5b032f3ccec48e4b480ae3698c181ab',
 '3a850b42f51242cba09e3faa60809631',
 '47a0975179b24806a6db80f32577ffe9',
 '94cdae1ab45e41bdb6285d190686d410',
 '34679ffaeac645e99cb89f677e99d43b',
 'd94584facd1f4f4384a281fff98bf5c9',
 'b716bc2b5a2543da82df52950b1c9ab2',
 '3a0d2e11c9d54b72912c9e16e9562dbc',
 '1a64dbb9dccd4b7e85c6b01a654dcc4e',
 'e8a3b7000fde4209b27d7d393149bbbe',
 '35c160e2ca5e4a0f987b6f8a7b8b567d',
 '2dbea1c4f5dc41e499200397e8255e75',
 '86646c2079dc460bac6a7429a1a5b560',
 '032fdcb1304140a8935affd0319b3749',
 '38ce6a576487469b82a3644bfaad85a8',
 '00ac12e2d7b44f81be3cee6517adc74d',
 '14a59b4f0d944b05abe1052427d38d19',
 'f6d8640aa34841c98d20529922b6382f',
 '44edf5fa97fa416a91bc72290e84e5f6',
 '117515d066794acbbfa7241f4d0cb730',
 '372795461a864538adc5f03872909aef',
 '7c2ac325469744b19337d732af4dbef7',
 'f286e1dfe44642288852045ac6469de3',
 '23644ceaf1ae4f32a160ced5cdf652bc',
 'ee3ef9e0596641a79947b4ef7848db59',
 'cfcb6daf6f7d42028ee631eb8cedcdd1',
 '476aa52fbc8f4ea9beb605358f6f7f6d',
 '11e11bdfa5604460b6145b69560dc109',
 'b904767c2a96402dafbd0d0e5be5e904',
 'c5b55f4573944a89adc6a534bf2421c0',
 '7d45862c2a794e049d71516141bd75f8',
 '7b30230097764f96941ddff829efcfb7',
 '43806d8c734d47f0996bf647154656a6',
 'c50143fc6ed3416eb73f2087e765490b',
 'f1a5abf5df9d447c96c7e482c186b035',
 '04dd92c16a86452d8c1960f72d5de315',
 '1cd5676d8cf14977a92c940b797e1960',
 '0478f4fc43ae4242ae4fc0b8a5ba95b4',
 '38ce26d222494b398efd5ae2cb80b263',
 'c9bb68b6a06447e79f0bc90396673652',
 '69990a96f21f4f928780af0d9dfb1e78',
 'a4aa32e996a94323ab1e50d39a0a8477',
 'e2333bcc803742d08335646f36c10f4b',
 '12fbbfe4b9a6445387440629cbcc1b37',
 'c9264f8e51a44d73b8ea1acd34fe23ce',
 '1aac6f0b77454a129726e0cacef9601a',
 'ec08649c90204f2d9a04fc28b4c31074',
 '0591424e510c49c0ae0a8abe72620069',
 '7c3a13fb83834cae989bc299799766af',
 'c804ad5b2abc47988eeb0cb9dd9d9d49',
 'fc760b546d3b4d1f94712fe3f7693023',
 'c500bd30eeca4adbaba8c20db93a9f4b',
 'af3027cda470471993e762199d6f4d43',
 '5cdf2e9e649c4436a7d958ca75faca87',
 '63d50e5fba2f4edb883cebc1b580651f',
 'b17df062811b46f8b8f32e2e61f06957',
 'd739f561cf4e4ad7a81d0d09702da280',
 'a320ae398cfa40c1b41020c7eb8ac2a1',
 '7ba37c1f46984a1e87b4f0e24fe55cb0',
 '5bec0339ef1840a79950ef235b32d16e',
 '687b8680a5364a459e51b9d66b452e50',
 'abe6b3f54b854824a717da3cca367bfc',
 '20bb034efd7b41fcb81fe944e3d00b0b',
 '4ca62589ccec4a25ad028283fe39cc26',
 '45d632df19af4ba0ad7a0f67625bcf76',
 '9b7c31d66a534f16a532cf8eed1675c0',
 'a0be69d5ffaa445297a41fcd18de0e97',
 'ad0747bd07c74074a1fafa4082d0f1ae',
 '10e01f999c4d49d4a88fc7a43f8647c7',
 'd0e5b121767c452bb02c17200e4a512f',
 '759063874b7e48449c1074fd0a2473c6',
 '7e59482144a14199960eb607d5b9b507',
 '9f987986a7c4471f8288d1853580ecfc',
 '438c244ec716468496be66db6b1dca22',
 '42e33ae780ab466f8d0395ed245328d2',
 '19350e4b15e14883ab2defdf724960a0',
 '30c1b64e71624e13a459083990bfbb5a',
 '80bc234388d24003becb348612d8eb44',
 '5ab4b61f70454c058711a0286ec10211',
 'e58534c5e75242d5bd31e91717df3f44',
 '582e6ec7db944dd2818dade86bee559c',
 '5ce0081b0a0b4181b901fb6742f8995b',
 'a648ed73bebd4f9f9f678d5ee42ffa01',
 '520921a156654e47a45989a81aeef966',
 '84a451b74c7f4c8693ed57d4b97dc87d',
 '08464b7d57684c0a9356388a7a6ec14b',
 '077328d294204f46bd6aa95e4129bab8',
 '72790b6a78b441b9a3926cb611d9369c',
 '0a4d22485f8e41e8905a0575d7ce7ea0',
 '55ae17afb5654a98a839321997f6fafb',
 'd0bd655656f2499f993a50d59845b310',
 '9f2adcd18f4d4ae3adbc277154ecd6cc',
 '7b0108b1b21b4e09a8badc819ddff829',
 '7c46764333d443dbad79a12a292aca88',
 '31e034ccebec462fba58c501194ea032',
 'd0190507a57e43289145eead111dfde5',
 '2999cd4d861d4cebbc248ce3b5846b96',
 '985f3d9affc54ad78aadce9fe5e9a877',
 'b13ca7b4c0004c1c95ba7d9427cf636d',
 'd5423c2903064e4cbafdfd5605dc127d',
 'f9a62100217247ad8643a3285c6c40e4',
 '2828ebc748f741a98dd8a04c758b3a58',
 '5e20f596b10c485484dd3de7f90afec5',
 'bcdf326516fd491199928277bd0acc21',
 'dbab5390edfd4caaa0b078d7d04d5636',
 '1aa8d4b748cf427783509eacf1faf811',
 'af375b22e6b74096b3236216c7c2734d',
 '9849b3b1c6c44d88ba09525f7524b889',
 'b0cb509c7e464503af4838dda9eee9e4',
 '97822a0f02264fa99ed3a3ee3adf0f21',
 '2be51582b9af4e2aa37e4091ce773f9f',
 '4e79fd86e2cd4807b95faf0958736ff1',
 '9800a827d4714d58a0337b71aaecbe32',
 '45b1c2ae46b845c4a7aee495f9a30cc2',
 'd941edcc3dad4e4d8af5ba5c6fd6a75c',
 'bba6c58d5c3b4d81954726c4347e1110',
 'cd6d6e5216a44c0cbe4e4ae8b4f67863',
 '1060f1f7c49c4327a6ee92a2101f3b5d',
 '7a1a92be30e043eba8eae509cab2bfd8',
 '8531736c52714645a1596d8ffc08843f',
 '438971dcc3b94482a9bb637824903f5c',
 'ef9b2a563c25469d890639ec8dc96084',
 '48c3290346944317a4694d14b203b715',
 '87c5b3f97a7e4ca997b0e4a3ee9bfc7c',
 '6176ce69fe8f429b9dd9216d8cdd7974',
 '481f38b34a714d9cbbfef2888dc84460',
 'f4866331009c4285946f74b607c30977',
 'fa63ae9d9fc74351b6a030511ca37f17',
 '97fb1ad888154497aac9f17fea2cf50d',
 'c8b21d95cc7a4665ba2e859adb096f23',
 'b8c0d1b08a864bf3a984376ec619a9cd',
 '71872e9fbd2e4e23a1018611751c4b43',
 '6886dfe795df4e2081e22ef4e25bdb76',
 'a6bef8e1ef21485cbd9f57f50ca810fd',
 '145c2218b24641a596ce01288c8bad82',
 '978488cde3464cf7bdb9022d97e743bf',
 '86ce8e36d5d94602be9e7e619ef823c0',
 'd3a0c53ed2e44c1b88b99e10e7e21ea0',
 '0d95fccb7be2465ab682ceab81409d7a',
 'c526e17a29994b26b5985aae688640a1',
 '3db97f38a6184e279a8684b0ed815932',
 '9b403f44b17d4043a1cf17a3af2e253e',
 '0abcdaf0da0345e1bfbbf2be9fe19c3f',
 '71ffa8ed04524abb9900a59821dad297',
 'be67ed30e211401682ee00b6689ac3de',
 'e4be9c87507d4f6d88237b6e4bbabd9d',
 'e82b1aa6a7ba4b84a84d1b1cd7b51398',
 'ae89df9405fb461087cbf01d9f9aa332',
 'c4c696fd85ff4a4887a15afa811ce38b',
 '491c8c3c7c344d2c8c57b88391325644',
 'bf6036cff4fd4fcf8f0f2d881b0dafe0',
 'c92b8d0fd18644d0b39733f232f8b882',
 '41f7bc59b99f4fbca930602338fe4c6d',
 '8f02232f627749cfaedc0c21f23565cf',
 '4a2755a5b01c4483a344c24688402ebd',
 '4ab9834a94fd4552af3201a39b6e5d3e',
 '30b1e100bb924dfc8150af33fdd8c36a',
 '50cdae73e886451481efd1de235971e2',
 '8fa0b93d4f174df28cde85f61dffcf53',
 '34fdadf668da4f099f1bde52c7a433f3',
 'e9775f1d81e24d93b266087c54b4f4fd',
 '72a3684ee3094bf889436819867f800f',
 '343db701e51f48c584e484e5f7191ca7',
 'e60f7d2e557f471d8da0a989757d3624',
 'ff3fe2aa6db946388282a82a696ffe73',
 '1ecd7eda61964e18beac3bbd04ac7307',
 'b4f19346468a43a19308d294e0ab8eac',
 '71a4e8bdd0dc47379345b6a09fbffd69',
 '30835b9b35d04c688d146d691124ec69',
 '1110f1ab12164fd6bf0a4e313400e62b',
 '430a28be898b4a0ea587442f2aa53896',
 'b6f6d7485766473cb5e8a84271088249',
 '4e03b6961a604a8a84a9d34231cef2ca',
 '0168ef6cb53a4909b5a2d9c2a227d763',
 'ffd0ea98bf1e4a458e9f9bc72c950c3a',
 '1f616c2147824e728a2f585bd504aeb7',
 '61e4dbb8998c4e9bb77c0271d1aa00b5',
 '1dc7c04ad01d4b6fa3e0447620564e6c',
 '56ca954d22f2424daa612c04a721ecdd',
 '5f9545c4982f4ede9c58944b51928de0',
 '48b6c00f19cc4b2791c6ce6212bb1e58',
 '68438d0ef65d4796aa05ac8e79d27ca3',
 '9fd68c7556d947b09d92c41634c34894',
 '612dd327f737474fb40a20b7d546ee2a',
 'cf691bcb3f714071896e0e36e4677af0',
 'cb39aca2c2104b968f8a31d8fa24d85a',
 '3798b00faf3747a6901f741827a89b53',
 'f00102871e364a6f9266cff05cb03a11',
 '4c1d194fcdbc4c6695a417470bb29230',
 '7c3d9fcd37a443059be7c98c5e4e6c78',
 '05680245138c4ca19bfd71f136e3146f',
 '6aec4ae1ad6940669508e04d11acf63e',
 '00bce129ac794ecb8190336c5fcf31f2',
 'd14da3826c4847c5959d3cb78c026836',
 '08bb037bf23742f684b4e0bea9341384',
 '1340693cec3f43fc9898c284987a81f5',
 '6e9cbdc6c6074cfda11aa719ed9e7cb3',
 'df1a2145dca64191a46bb74ebdfe5ab1',
 'fb0a612125b24f9a89e8c0c1b460a4b7',
 '4051d4ff06d445438cabc59cc7d44d3e',
 'eba55a27707e4e0387894067cac70f7d',
 '6075efce364a46b5914db19a71be25ef',
 '6004bc110b664bb6806b906d1298a690',
 '33373eb89c704bc69d98c7724ef6673f',
 'efbfbbbd19a8421899cec49b9641b969',
 'a956804848d34cd4b10ba8fc79504a30',
 '8aabb2ed26bd4045877f597e3624fb30',
 'ac0619814edf472d8583b92227c46f92',
 '8e2d812bf0804c0cbdf7bc98a6058547',
 '0fd5b752e24e47a2ac891e46249dded0',
 'eb655e564d204db8af942476d99074d3',
 '64a790f4c3e94664bdebc29e75d9e745',
 'f1b367d9175a4b0cb540f6e7c6ce4d05',
 '7fbc31fe47eb4222a4e4a61266d01de1',
 '4378451703814e72a223cef5db23a49d',
 '2ad3515af4cc4767bcf8288aea677dff',
 '2f03146333314b4fb197ece9c37a5e48',
 'e090b2128cd441af920bfd48041c5168',
 '91a52f7e624e45b3afbc597501db7d45',
 'db67642288e749e9886c8682a59961ae',
 '74b6c47876d348aca2365d7f53c0d456',
 '13457fecbeac432fa5dc2edb4f44242f',
 'bf600966b57940ca919bb8663987b7e4',
 '4a88b8c5ccd0446d95aaf4620d297c2b',
 '3e114d9fb7fe4430846f29278ebb117c',
 '5f5b2d2fe0fc494ca71c29349c77f617',
 'f64e2855b8044b8cae2e654e0af168be',
 '0f634b9c570642f8b8931a9b7508cc37',
 'd2e6fee59a0c42fab26d8927be7c524b',
 'dad2e5d617854e56bfcb841747c596a4',
 '7c4590a4b5da4a2bb19d9dc6e0529eec',
 '2fc696e2a2a245799dc7b8b0733b0065',
 '537f3929fb934ccf96280dd7218a9bc3',
 '8f0e990437214dd59497482d5a2452c6',
 'b726116f4dd949c4a155aedb36eb339b',
 '9021c3c5575548d5a03f1d099dcbad7e',
 '6d55ddc0bbcb445797e7c0a010710d56',
 '1f46963996c242fab36e84ea47740932',
 '5275e317fde749dda608bc82792b95cf',
 'edb68ce45f7e43979621ee36abce9a99',
 'b04305df07df4f689d814db80610146d',
 'ea53e8e42f1e4016887ce9ea83489543',
 '8ea54290931b41d9ba84c7d0fa06ed26',
 'dd047404b3ba4f259ca437b292f7d9d5',
 'c7f69c02903d486cba9297e6bbf7c4ea',
 'c466d1cbead94f63824792c61629862b',
 '550e89cd56db49c29b35f7582d142aa9',
 '5fd79acba27e42d99a46b90ba05d9a2e',
 'd53c51a4d511492983b4beaf8af27045',
 'cff14a69933e472caf996c37be66e42b',
 '24acc8c048da40f19c2b1cba2a88403d',
 'f8ccfc7ae01c4ed698d0627df4273dbb',
 'fff7cc675c9c4c289f2577b4046c78ec',
 'a23d966bb2a94d3381e01dfe41c3dfcf',
 'ae247be919414c108d6463e1615fe8bf',
 '29e660b1bac34040989e33b5dd0744a8',
 '3a05679705ae4a68b9881c2c691f340d',
 'eba8c9e27997424abb0552519f100819',
 '0da2736774894cc8ae8927d1017f2353',
 '145a626251d5447892be700b70914c99',
 '7618c85c030748749ef987b8f89f2655',
 '27885943d8b34f90a39e687d8a82985a',
 'e8ae12c6c4f94a9fb20e10264d345a4b',
 'bc226f72d4eb4b33b4e5eab994691e09',
 'ab79787db2a44d30975b322c8a39c0aa',
 '122fbec914fb436bba01f9f8384b89a1',
 'e1ae9dcf403b4aaea91a86abc7570322',
 '667a1eeeaf56403eb51535eae2a4a680',
 'd9c798f16a6846368ad0c8e9bb09c493',
 '9ae19bd943604930ad9ece04691ef418',
 '3b0e4cdaec92405597f8f017d3785f57',
 '26a7d313393e4d22a51b9c6353f32537',
 'fa5d3008eeb74ca990d43076bb7eaaf7',
 '234f242905184739bc88758381d6fcc0',
 'f5bcb1047f0840369a515108fc5fb2b5',
 '32123b7725fa4d7a94cf76f68c4d211d',
 '9195e81c5f7f426587a59c3f7d3f2fb2',
 '6ef0888ed60f4500ba32f95f76e15e9d',
 'ec19fb0427144cc78071eee6a6c3acb0',
 '890b5c067152450697360019e1e5f881',
 '4b4a0507e21046838aabd6c105169cef',
 '525cbb63ea9c4acbaa11309e240a63f9',
 '713c7649781a424ea9a213895022346d',
 '0f46f8b90694418cb8afcd6c3e6bd6c3',
 '15911c9381a64631882dfb029ad94bc0',
 '6f749a5467f34027b041e6fa3d4cdeff',
 'f8a292608b8f484890e1870903e0f1ab',
 'f32be26ba7da44aca69c33e2b705b54b',
 '67c5d654c22c499fb15fa2f1b78e49d9',
 '3fe2cf7953dd464a89f5ded0c0539c40',
 '5e1ceae7535f4f9e8b77bda5d190bfd3',
 'fc1490f34df144c69beb8614bbd1cbcf',
 '9999774cdbe5481ba04ab05a87648e02',
 'cd26ab3f0c464530a0585e26cede6a62',
 'bdabff180f9444218adf46065a4604f0',
 '463a26ed489f47d8ab87fdad32ba7298',
 '5a97c24b63104e72b73d1c3211704ed2',
 'e8d4837b6e4144b8a4695235c4ad8151',
 'e51447d8eca047459869fa12656f2407',
 '47eedceae31d49ccadc9d6f56c49b313',
 'b238276d425a4352aa9436eaf3c0333a',
 'efaa9f17199d44ccb5bf5863320f631b',
 '12cd4278db9b4e07985489587d079263',
 '612820c9aa024a4f9d2f26aef297276a',
 '8789af2e3a674ba18351333c9872ec06',
 '2a727559c51a478a9dc0dc23c520fdfc',
 '274de6bbe1f44d1c85abbf48b9773539',
 'd3c15c2ae7ab4c5184f89ff734e0e126',
 'e8fd588892d8419d9afc011dce219c6c',
 'a489a6b21cb44f20bd85813a275e33b2',
 '4a6e3c4491a4412cbbc14ed0a4536082',
 'ad5455e172c540a6b37e6eb56c570059',
 '52a2e5e9bee743bfadb889a8604c65b9',
 '8fdbf441bc2f4be7826bfde71d40c684',
 '8c24181f9ba9413db0b5806b69cfdf62',
 '532957720a1b4f2897e08e856f4e21e8',
 '4922effdf44a4ca893c1bd139c530fd2',
 '56940889716c446b9bb3152d86408d0b',
 '01164d20b0c040f2bbd6ac1bdaab2c04',
 'b77e25b49a7346e6ad737d30dac00556',
 'afc14e31a68b40599d620330a6ee21de',
 '8d4a795ff9744975a38936e11955e2a8',
 '93d4332c637a4e68bf83dc92b1dc771a',
 '9ade9260142a4a32a4be503d12e2aef4',
 'b5d35b07fa7e4e83852448621f1961c0',
 '18f1b0c484e6470a90376f67765b14e5',
 'fa44c3a625014998b3722491b4394894',
 '713fd04366dd49bc838ff23e6423a4ec',
 '5af91554d8e644d3bda2c1dc89e11c63',
 '81a464c7c9ed4f94b12c2167f29c0464',
 '095404dcdb3a4d7684976392876d410b',
 'a5595092615e40b38b53cc430f2e9cad',
 'bf2cecf9a65942d8830d8c487a367499',
 '2dfcad909305434faf46d1727842ce8a',
 '94ee99afd7ca4c8881adbb23b3e18432',
 'aabd6e4c372645f1acd229360686c20d',
 'e86199d5fe4844eaacf46c89441201b6',
 'd42605f805fd4f3a8a7c420ed7c8d5fc',
 '4c3cf9d8d7c9455cba0af077ca734aa3',
 '434a6f944305493fbcce1f5955d0fcc0',
 '271cb8850a93429292ea45f24e29bc9e',
 'd64ac31c88b14445a803a839a964d45d',
 'af1d848ef6124e9093372c419e9f4a63',
 '024dbf25830046d79c37f8f9d5bfa14c',
 '32328d3aadc346fe9cbcba1bcc5b8f5e',
 'c27eff5caf064392be14ba57f1f8c42e',
 'e776ca076c8d4a54a5be711410be62c7',
 '010e2a8cd52f44cdaf0fe19168f493c0',
 'ea2a22afe8cb4fc49797637d40dff48d',
 'f110fe0e00fa4466a5ff4d2676952bb3',
 '23e2be5b9b524f6e882c5624143a85c2',
 '2d910965d10148df9e0ed0bd05436391',
 '0a4197e727a34416beacb60da718fd59',
 'd249349b21a84365932792b849b8575b',
 '2ad387c79d5c45a99a33cc96b222a1dc',
 '6df504c7d17f47bfa3b4615084679ca5',
 'a468ed5c03ad48b8865f499f4f0ffb15',
 'ba3186c9470d42168d76c2b99e77d118',
 'd85d6182a338480babc81b69855a5a15',
 '00ef3815490646b9bc229cbdf55185f8',
 'dc9757dbf575437b87c6d2dee9e8adf2',
 '9d0591036ce14d28a6951dc82b55cb9e',
 'ef8fbbe01fc142a4a15d61e2047f4c71',
 'ff64c187bca142689aa9a7aad8ff0dea',
 'e15c776aadbd476db4818b06a795bc4a',
 '997738d8fc154dcf834c2af1a8f2fbf4',
 'dea908df259347b8b21100d5d27fd261',
 '1442891efa184023b5aabea77ba8fbc2',
 '8171f6bce29a4b728af70b7a2851c9d4',
 '981e4da4356842f5b3c28bdb3e6c3b80',
 'cccd56977cf942078cdace8bc7408ff2',
 'cdbe61eb391b4ca2afda3d822dcf99cd',
 'cf6f105c278941daabf4ba72623eaf00',
 '7cf89f88aef94f54b3d8f9c10288923a',
 'cde59c44ffe24e2abfa00b8847bba4e4',
 '85cb934f3a3a4cf3a0bbf44641cac31a',
 '69836714017a4f2c9e81637a24d90b8a',
 'cc127d9b06d748e380fa6155e7727f3f',
 'd0801ebfd0144e5386895ba4cb221a1d',
 '9c096338eb8242c9a1c40c17b55f4764',
 'aa80722c9808479ba1454fa3cbcdd450',
 'de1b1b8d5c2449d2a4244724ab0881ef',
 '1f47fe7af6664c2abbaa6aca5ff7e029',
 'a91426f2866a4c64a88e3e42077abede',
 '134d4db286254f46a6e16a7a2e4266d8',
 '85ac467e7f874a269a9521c7b1788428',
 'bc5352c43b23412ab8af224fc967df38',
 '4354dfedc66a4e798c257aa0b29d506b',
 '90edcd9318c648bc96d65f7fed415dcd',
 '292094243b354d2ab52cfbbc6a3fa7d7',
 '2f0fe95456ec4e16863cfb1ad4eb4c16',
 '8178f29efe624de2b01d136bf3952253',
 '3480101842ec4c70bc3dc37c2101a554',
 '3a4e978c6fbf4a289f5f393e87a47850',
 '95a3aec08714479e8c84a37b66a3c3fc',
 '14c49ec5ab33494c9918aae00c7b19f5',
 '0082a180689543f5b39bd90d44028133',
 'f9119adb13414e81b5898b18830bede0',
 '941087bc865e4289a8356a7c0590f755',
 '9d1fe945e1764bb2a1c985d20ae3ece6',
 'a2b743f3884c4459b8991fe4de72655f',
 'c1e2efe3b8084b6bb625a4a64f5a38e0',
 '2986d698c55e4835a4b0add25b1c3a53',
 '5dd8aa9d8c69403dafd406685d954b2e',
 'e5723760b0104b0ebed3e3b4f3d95bf5',
 '47cd52a2e8244109bd3f5570c47f1c9f',
 '5cc55399dac94e118b6b095005eb25a6',
 '7ffcfb863ca94bbe98897ee5334ad876',
 'c0ca57e9900440f18caa443031db2661',
 '6998953a9c8c4a148def02812cb5ea29',
 '7bd3fca576c14b3a8b5c28a69c3a2276',
 'a801694f119b4ee9b60eb9c8d0f0ec40',
 'd74d637388894ffd8c1ec3a32fa05586',
 '0412c30a43274a4f969bd5c5625ef99d',
 '4a4e6198581a4e448daf26eb08278dd2',
 '6390ee1650a04e71b990279299ef723c',
 'c7bccc7f77524152834e47939b9b0fce',
 '2baf20be8a714a3badf78bed2d88bae3',
 '8d9e723a829e481d9256a06e7f06f1eb',
 '19b6b3da21014cf891fe2212cc18da78',
 'a1465819c45f4b41be1943b1780b2f52',
 '83ad3408aaa2439cb1adeedb2be28e82',
 '0e29e89b6e1645b78225f784c24e269a',
 'e0ae119046f34a1a924169109bbfe240',
 '48e0cb355b78480e87932ae24624ad25',
 '49e922892b004ae4b83a48a5baa0aaaa',
 '2128c12dd47d4ca58aef0f7399f9b4c3',
 '35db203c53ca4378b52e0299ef16d970',
 '7e60e723e43f464182106a601adef18b',

In [183]:
nv_test[nv_test['vacancy_id_'] < 5]

                               cookie_id  vacancy_id_
0       0000c4548c3944c08972bbdc1fa4eb85            2
2       0000e63f423542fe8090575b611cea4d            3
3       00013bf3e58244b48d4dbdf43543c30c            4
6       00021ea9459044b0af294eb5dd7ab8a7            1
7       00025878f0534a6a96dac2042dfa07b7            1
...                                  ...          ...
310562  fffdc6bb99a34bc3b01d8dfdd575cda6            3
310563  fffdc951d3b64eb5b1de9195f3df9920            2
310567  ffff3581b7e7405db25fac5c5dd1bff9            1
310569  ffff8283d29644e69ad6d08cc3ca7fb7            4
310570  ffffd6d4f2134dd6aa80ff71e942b508            3

[214087 rows x 2 columns]

In [184]:
# Выбираем строки с cookie из cookies_set
df_test_selected = test[test['cookie_id'].isin(test_cookie)]
df_test_selected

                                cookie_id  vacancy_id_  event_type
1927408  69495070cb644e79b6fe2343c08f16d7       174682         0.5
3767110  cdbaf308bd234abfbe2e5ccd6daca8db       107882         0.5
3410934  ba3677792be945cd8ffa62569370c967       195702         0.5
1240035  43abb0d1606745348e99cf7f4d57bf17       258441         0.5
1756972  5fd84198b3374c9297bd8e314daae571       203404         0.5
...                                   ...          ...         ...
2708268  9332e51a085349408a7b11232d46be53       191382         0.5
3233829  b07eb084be574ba69461d98734261d71       163292         0.5
1412812  4ceef9ac78884d99aa68894230050fd1       130608         0.5
1490236  513c75bcbdd94bedbd65ec10152d35e4       105890         0.5
972131   34e9de41e35b441a848e35bbc5438e92       246583         0.5

[898179 rows x 3 columns]

In [193]:
df_test_selected['cookie_id'].nunique()

96484

In [189]:
# Выбираем строки с cookie, которых нет в cookies_set
df_test_not_selected = test[~test['cookie_id'].isin(test_cookie)]
df_test_not_selected

                                cookie_id  vacancy_id_  event_type
350960   1316c4f2aa2c4db19a929c42e2b2a063       247434         0.5
3769749  cddf0704987b457792dffcbce8ac7f59       106390         0.5
282787   0f66cce09a2a438685f8816aa940c23c       125867         0.5
1704470  5d02cf83517b4011b5b3e737f25b9c40       185146         0.5
1952526  6aaa044a401442a3be64d7157b3c10d6       212824         1.0
...                                   ...          ...         ...
458532   190b7fb2dae64bf18d1c51c8ae0b8f98       240214         0.5
1948295  6a70fec61e0a4cfb96a6ff0adb663193       150846         0.5
2381889  8199b48c31454b56b2075c09938069cf       240917         0.5
2997870  a3461bc44eb44c46b0e2bfb3f6279484       250765         0.5
253568   0dddaf16d5024998b55b4ca46be9d8a9       139817         0.5

[505397 rows x 3 columns]

In [190]:
# Объединяем трейн и не вошедшие в тест куки с вакансиями
df_train_selected = pd.concat([train, df_test_not_selected])
df_train_selected

                                cookie_id  vacancy_id_  event_type
3148343  abaec81fdf5e41b98ba70562cf1ee12b       102993         0.5
2495773  87b9efa7623340c2bc1c30d93a4c5663       158179         0.5
4295481  eac6f3b6a4bb4c1396d127cb48202bea       103209         0.5
4478569  f4fd2cbde7bb47f3bf9156480b81f05a       112356         0.5
4643253  fe17b1e0df57474d91b363d609e46d9b       113707         0.5
...                                   ...          ...         ...
458532   190b7fb2dae64bf18d1c51c8ae0b8f98       240214         0.5
1948295  6a70fec61e0a4cfb96a6ff0adb663193       150846         0.5
2381889  8199b48c31454b56b2075c09938069cf       240917         0.5
2997870  a3461bc44eb44c46b0e2bfb3f6279484       250765         0.5
253568   0dddaf16d5024998b55b4ca46be9d8a9       139817         0.5

[3780406 rows x 3 columns]

In [191]:
# Запись в csv train
df_train_selected.to_csv(os.path.join('train_data.csv'), index=False)

In [192]:
# Запись в csv test
df_test_selected.to_csv(os.path.join('test_data.csv'), index=False)